#top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#root{
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.home--container{
  display: flex;
  flex-direction: column;
}
.home--container h1{
  margin-left: -3px
}

.home--container h2{
  margin-top: -20px;
}

.home--links{
  display: flex;
  flex-direction: row;
  margin-left: 7px;  
}
.home--links a{
  margin-right: 40px;
}
.home--icon{
  scale:2;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
}

nav h2{
  margin: 0px 20px;
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

nav ul li{
  margin: 0px 10px;
}



.fixed{
  position: relative;
}