body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav{
  /* margin-top: 25px; */
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  background-color: antiquewhite;
}

nav a{
  padding: 0px 20px;
}


.hero--container{
  padding-left: 100px;
}

.hero--intro{
  margin-top: 35vh;
}

.hero--intro > *{
  font-weight: normal;
}

.hero--links a:not(:first-child){
  padding-left:50px;
}

.skills--container{
  background-color: aqua;
}

.fullScreen{
  height: 100vh;
}