
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav{
  /* margin-top: 25px; */
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  background-color: #868B8E;
  z-index: 100;

}

nav a{
  padding: 5px 38px;
  border: solid;
  border-width: 2px;
  color:#EEEDE7;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: color 0.3s;
  border-color: #EEEDE7;
  margin:0px 5px;



}


nav a:hover{
  color:#868B8E;
  border-color: #EEEDE7;
  cursor: pointer;

}

nav a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #E7D2CC;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.17s ease-out;
}

nav a:hover:before {
  transform: scaleX(1);
}

#nav, .hero--links{
  transition: 0.5s;
}

.hero--links > *{
  color:#868B8E
}


.hero--container{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero--intro{
  align-self: center;

}

.hero--intro > *{
  font-weight: normal;
}

.hero--links{
  padding-top: 15px;
}
.hero--links a:not(:first-child){
  padding-left:50px;
}

.hero--links a:hover{
  position: relative;
  top: -2px;
}

.skills--container{
  display: flex;
  justify-content: center;

  background-color: #EEEDE7;
  height: 100vh;
  flex-direction: column;
  text-align: center;

}

.skills--icons--container{
  display: flex;
  justify-content: center;;
  flex-wrap: wrap;
  align-self: center;
}

.skills--grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 80px;
}


.skill--button .skill--icon{
  transition: opacity .2s;
}

.skill--button:hover .skill--icon{
  opacity: 50%;
}

.popup--overlay{
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100vh;
  width: 100%;

  background:rgba(0, 0, 0, 0.5); /* Prevents children opacity change, only changes background opacity*/

  justify-content: center;
  align-items: center;
  z-index: 101;
}

.popUp--container{
  margin: 40px 50px;
  z-index: 102;
  background-color: #21252b;
  height: 90vh;
  color: #EEEDE7;
  border-radius: 20px;
  text-align: center;
  border: none
}


.popUp--tabs{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  background-color: #6a768a; /* Prevents children opacity change, only changes background opacity*/
  border: none;
}

.popUp--tab{
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333842;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #EEEDE7;
  transition: background-color .5s;
}

.popUp--tab:hover{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.popUp--tab:hover{
  background-color: #545c6d;
}

#popUp--header{
  display: flex;
  padding: 20px 10px 0 10px;
}

.popUp--header--left{
  display: flex;
  justify-content: center;
}
.popUp--header--right{
  display: flex;
  width: 80%;
  justify-content: center;
}
.popUp--header--icon{
  border-radius: 50px;
  padding: 5px;
  transition: background-color .5s;
  margin-top: 5px;
}
.popUp--header--icon:hover{
  background-color: #545c6d;
}

#popUp--header--search{
  background-color: #6a768a;
  width: 100%;
  border-radius: 20px;
  display: flex;
  margin-left: 20px;
  /* margin-bottom:10px; */
}

.svg--container{
  margin-top: -25px;
}

.svg--icon{
  max-height: 70px;
  min-height: 70px;
  padding: 30px 50px;
}

.skills--icon--container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
}

#popUp--header--search--url{
  margin-top: 7px;
  margin-left: 5px;
}


/* #tab--seperator{
  border-left: 1px solid #94979c;
  margin: 6px 2px
} */

 #closePopUp{
  background-color: #6a768a;
  margin-left: auto;
  border: none;
  padding: 10px 10px;
  transition: color .5s;
  margin-top: 5px;
  margin-right: 10px;
  color:#EEEDE7
}

#closePopUp:hover{
  color: red;
  
}

.fullScreen{
  height: 100vh;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  /* height: 48px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  transform: translateY(2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


#resume{
  text-decoration: none;
}

#resume:hover{
  text-decoration: underline;
}

.no-scroll {
  overflow: hidden;
}

/** Media Queries */

/* Desktop  */
@media screen and (min-width:1600px){ 

}

/* Laptop  */
@media screen and (min-width:1024px) and (max-width: 1599){ 
  
}

/* Tablet Landscape */
@media screen and (min-width:768px) and (max-width: 1024){ 
  
}

/* Tablet*/
@media screen and (min-width:480px) and (max-width: 768){ 
  
}

/* Includes both normal width mobile and small mobile */
@media screen and (max-width:485px) {
  #popUp--header--search--url{
    font-size: 12px;
    padding-top: 4px;
  }

}

/* Normal Width Mobile */
@media screen and (min-width: 380px) and (max-width: 485px){ 
  #nav > a{
    scale: 90%;
  }

  .skills--container > *{
    scale: 80%;
  }
}
 /* Smaller Width Mobile */
@media screen and (max-width: 380px) { 
  #nav > a{
    scale: 80%;
  }
  .hero--container{
    scale: 80%;
  }

  .skills--container > *{
    scale: 70%;
  }

  #popUp--header--search--url{
    font-size: 9px !important;
    padding-top: 5px;
  }
}


/** Edge Cases */

/* Width when popUp browser starts to break */
@media screen and (max-width:566px ){ 
  .popUp--tab--name{
    display: none ; 
  }

  .popUp--header--right{
    margin-top: 5px;
  }
  
  #popUp--header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #popUp--header--search--icon{
    margin-top: 3px;
  }

  #popUp--header--search--url{
    margin-top: 3px;
    margin-left: 5px;
  }

  .popUp--header--right > img{
    display: none;
  }
}


/* @media screen and () {
  
} */


/*
@media screen and (max-width: 950px) {
  .svg--container{
    scale:70% !important
  }

  .svg--container > *{
    padding: -20px !important;
    margin: -10px !important;
  }
}

@media screen and (max-width: 612px) { 

  .svg--container{
    scale:50% !important;
    padding: 10px;    

  }

  .svg--icon{
    margin: -15px -40px !important;

  }

  .svg--container > h2{
    margin: -15px !important
  }



  .popUp--tab--name{
    display: none !important; 
  }

  #popUp--name{
    margin-top: -10px;
    margin-bottom: -10px;
  }


 
  #popUp--header{
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
  

  
  .popUp--header--right{
    grid-row: 1 !important;
    scale: 90% !important;
    margin-left: 30px !important;
  }

  #popUp--header--search{
    display: flex !important;
    justify-content: center !important;
    scale: 70% !important;
    padding-right: 30px !important;
    padding-left: 5px !important;
  }

  .popUp--header--right > img{
    margin-left: -20px !important;
  }

  .skills--icons--container{
    height: 70%;
  }

}

@media screen and (max-height: 740px){ 
  .svg--icon{
    margin: -10px -50px -10px -50px !important;
  }
  .svg--container{
    scale:50% !important;
    padding: 5px 5px !important;    
    max-height: 100px;
  }

  .skills--icons--container{
    height: 70%;
    

  }
}

*/